@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate PDF</title>
    @*<link rel="stylesheet" href="style.css" media="all" />*@
    <link rel="stylesheet" href="~/css/report.css" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
</head>
<body>

    <header class="clearfix">
        <div id="logo">
            <img src="~/images/rcl-logo.png">
            
            <!-- <span style="margin-left:40px;font-size:40px">Virtual Quality Assurance</span>-->
        </div>
        
         <div id="company">
            <h2 class="name">ROYAL CAPITAL LIMITED</h2>
            <div class="lef">DSE Annex Building, 9/E</div>
            <div class="lef">Motijheel C/A, Dhaka</div>
            
           <!-- <div><a href="mailto:company@example.com">company@example.com</a></div>-->

        </div>
        
    </header>

    @RenderBody()
    @*<footer>
    <div style="text-align:center">

    </div>
    </footer>*@
</body>
</html>