@model RCLWEB.DATA.ViewModels.ClientDashboardVM

@{
    var id = Context.Request.Query["code"];
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">

    </div>
     <div class="col-md-4">
         <div class="card shadow-lg p-3">
            <p>Client Code: <span class="ml-2 font-weight-bold"><b>@Model.ClientCode</b> </span> </p>
         </div>
    </div>
     <div class="col-md-4">
         <a class="mt-3 btn btn-primary" asp-action="ViewAllCodes" asp-controller="Home">Try Another Code</a>
    </div>
</div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
